<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title%></title>
</head>
<body>
    <h1><%= title%></h1>
    <div role="main">
        <table>
            <% for (let i in content) { %>
                <tr>
                    <% let obj = content[i].attributes; %>
                    <!-- using Bookshelf's Basemodel object. -->
                    <th><%= obj.id %></th>
                    <td><%= obj.name %></td>
                    <td><%= obj.mail %></td>
                    <td><%= obj.age %></td>
                </tr>
            <% } %>
        </table>
        <div>
            <span><a href="/db/1">&lt;&lt; First</a></span> <!--&lt;ã¯ <  -->
            |
            <span><a href="db/<%= pagination.page -1 %>">&lt;&lt; prev</a></span>
            |
            <span><a href="/db/<%= pagination.page + 1%>">Next &gt;&gt;</a></span> <!-- &gt; ã¯ > -->
            |
            <span><a href="/db/<%= pagination.pageCount %>">Last &gt;&gt;</a></span>
        </div>
    </div>
</body>
</html>